<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PartnerAQueueName" value=".\private$\partnerA-queue"/>
    <add key="FromEmailAddress" value="from@yourcompany.com"/>
    <add key="ToEmailAddress" value="to@mail.com"/>
    <add key="SMTPServer" value="smtp.mycompany.com"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>