<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MessageProcessorType" value="File"/>
    <add key="MessagesFilePath" value="D:\Vontobel\IncomingMessages"/>
    <add key="PartnerAQueueName" value=".\private$\partnerA-queue"/>
    <add key="PartnerBQueueName" value=".\private$\partnerB-queue"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="SQL CONNECTION STRING HERE" name="SqlConnectionString"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>